@media screen and (max-width: 665px) {
    .fd{
        flex-direction: column !important;
    }

    .form-head{
        font-size: 20px !important;
    }

    .form{
        width: 80% !important;
        margin: 0 !important;
        margin-bottom: 50px !important;
    }

    .map{
        margin-bottom: 40px !important;
    }
}

.contact-icon{
    color: black;
    margin-right: 15px ;
}

.bg-contact{
    background: rgba(201, 201, 80, 0.415);
}

.fd{
    flex-direction: row;
    margin-bottom: 30px;
}

.form{
    margin-right: 200px;
    display: flex;
    width: 400px;
    background: black;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-head{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

.form-cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 65%;
}

.form-control{
    margin-bottom: 30px;
}

.btn{
    font-family: 'Playfair Display', serif;
    color: white;
    background: rgba(61, 61, 227, 0.95);
    width: 100%;
}

.btn:hover{
    color: black;
    background: green;
}

.map-head{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 20px 0;
}

