@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@media screen and (max-width:665px){
    .hero-head{
        padding: 20px !important;
        font-size: 23px !important;
    }
}

.hero-cont{
    background-color: black;
}

.hero-head{
    padding: 3px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;    
    color: #d4af37;
}


