@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@media screen and (max-width: 665px) {
  .carousel-item img {
    height: 300px !important;
  }

  .heads {
    font-size: 25px !important;
  }

  .contents {
    font-size: 18px !important;
    margin: 0 50px !important;
    
  }

  .card-m {
    margin: 0 !important;
  }

  .card:hover{
    transform: scale(1,1) !important;
  }
  
  .bis-resp{
    flex-direction: column !important;
  }

  .bis-logo, .bis-cont{
    width: 100% !important;
  }

  .bis-cont .contents{
    margin: 0 !important;
  }

  .banner{
    height: 200px !important;
  }

}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.carousel-item img {
  padding: 2px;
  height: 600px;
}

.heads {
  font-size: 35px;
  margin-top: 10px;
  padding: 5px;
  color: #f7be04e9;
  font-family: 'Playfair Display', serif;
}

.contents {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin: 0 250px;
}

#line {
  width: 80%;
}

.card-m {
  margin: 0 120px 10px 120px;
}

.card {
  margin: 8px;
  width: 170px;
  height: 220px;
}

.card:hover{
  transform: scale(1.1,1.1);
}

.nohover:hover{
  transform: scale(1,1);
}

.card img {
  padding: 3px;
  height: 150px;
  width: 145px;
}

.card-body {
  padding: 0;

}

.card-title {
  font-size: 20px;
  color: #f7be04e9;
}

.card-text {
  font-size: 12px;
  margin-bottom: 3px;
}

.bis-card{
  margin: auto;
  width: 80%;
}

.bis-card img{
  height: 150px;
  width: 150px;
  padding: 0;
}

.bis-logo{
  width: 20%;
  text-align: center;
}

.bis-cont{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.bis-cont .contents{
  margin: 0;
  text-align: left ;
}

.banner{
  margin: 10px 0px;
  height: 450px;
  width: 80%;
}