@media screen and (max-width:1035px) {

    /* .login-section{
        flex-direction: column;
        align-items: flex-start;
    } */

    .about img {
        width: 195px !important;
    }

    .phn-hide{
        display: none !important;
    }
}


